@import "style.scss";


// BANNER
.img-header{
  height: 350px;

  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255,255,255,.5)),url("../assets/img/grenoble.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}
.logo-header {
  max-height: 100px;
}

.line-header {
  margin: 0;
  border: 3px solid black;

  width: 70%;

  @include media-breakpoint-up(lg) {
    border-width: 5px;
    width: 100px;
    transform: rotate(-70deg);
  }
}

.ville-header {
  font-size: 100px;
  color: black;

  // the font sizes down with the screen

  @include media-breakpoint-down(xs) {
    font-size: 17vw;
  }
}


// MAIN CONTENT
figure img {
  clip-path: circle(50%);
}

.img-col{
  width:100%;
}

// CONTACT BUTTON
#contact-button {
  min-width: 115px;
}
