@import "style.scss";

body {
  // make it cover the whole page even when there is little content
  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

// SPACING
.sectionTitle,
legend {
  color: $dark-gray-blue;
}

.sectionTitle {
  margin-bottom: 2em;
  text-align: center;
}

fieldset > div {
  margin-bottom: 2em;
}

// PRETTIFYING
*::placeholder {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
}

*[required] {
  border-top: 3px solid darken($red, 10%);
}

.labelRequired::after {
    display: inline;
    content: " *";
    color: $red;
}

.form-control:focus {
  border-color: $dark-gray-blue;
  box-shadow: 0 0 0 0.2rem rgba(27, 53, 73, 0.5);
}

.modal-body {
  background-color: $gray;
}

// ANIMATION
.rotating-logo {
  box-shadow: none !important;
  animation: rotation 15s infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
