$red: #CE0033;
$dark-gray-blue: #1B3549;
$gray: #F0F0F0;

$icon-size: 30px;

$theme-colors: (
"primary": $red,
"white": white,
"dark": $dark-gray-blue
);

@import "../bootstrap-4.5.0/scss/bootstrap.scss";

// SMOOTH SCROLLING
html {
  scroll-behavior: smooth;
}

// NAV AND FOOTER
nav, footer, img {
  box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
}

nav {
  padding: 0 !important;

  & > * {
    margin: 1em;
  }
}

#navbar {
  margin:0;

  @include media-breakpoint-down(sm)
  {
    margin-top: -1em;
    text-align: center;

    div:last-child {
      margin-bottom: 1em;
    }
  }
}

.navbar-nav {
  border-top: 2px solid darkred;
  border-bottom: 2px solid darkred;

  min-width: 50%;

  justify-content: space-around;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;

  @include media-breakpoint-down(sm)
  {
    box-shadow: 0px 0px 12px darkred;
    background-color: darkred;

    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: -1em;
    margin-right: -1em;
  }
}

.bg-primary a {
  color: white;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}


// ICONS
.miniIconSimplon {
  height: $icon-size;
}

.socialMediaContainer a {
  margin-left: 1em;
}

.bg-primary i,
svg,
a {
  &:focus,
  &:hover {
    color: $dark-gray-blue;
    fill: $dark-gray-blue;
    text-decoration: none;
  }
}

a:focus svg {
  color: $dark-gray-blue;
  fill: $dark-gray-blue;
  text-decoration: none;
}

// BUTTONS
.btn {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
}

.btn-primary {
  color: white;
  background: $red;

  &:focus,
  &:hover {
    color: $red ;
    background:white;
    border-color: $red;
  }
}

.btn-light {
  background-color: white;
  border-color: gray;
  color: gray;

  &:focus,
  &:hover {
    background-color: gray;
    border-color: white;
    color: white;
  }
}

.btn-dark {
  background-color: $dark-gray-blue;
  border-color: white;
  color: white;

  &:focus,
  &:hover {
    background-color: white;
    border-color: $dark-gray-blue;
    color: $dark-gray-blue;
  }
}

// RESPONSIVE LOGOS
.desktopIcon {
  display: inline-block;
}

.mobileIcon {
  display: none;
}

@include media-breakpoint-down(sm) {
  .desktopIcon {
    display: none;
  }

  .mobileIcon {
    display: inline-block;
  }
}


// BACK TO TOP ARROW
#scroll-top {
  position: fixed;
  right: 5px;
  bottom: 5px;

  transition: bottom 0.3s linear, opacity 0.3s linear;
}
